@import '../../styles/_colors';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .guestbook {
    &-add-review-button {
      align-self: flex-end;
      margin-top: 10px;
    }

    &-review {
      padding: 20px 16px;
      margin: 20px 0;
      width: 500px;
    }

    &-review-message {
      font-size: 18px;
    }

    &-review-name{
      padding-left: 16px;
      width: 150px;
      font-size: 14px;
      color: $color-primary-grey;
    }
  }

  .popover-wrapper {
    display: flex;
    flex-direction: column;
  }
}
