@import '../styles/colors';

:host {
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: $color-background;
  .container {
    overflow-y: auto;
    padding: 20px;
    min-width: 550px;
    background: white;
  }
}

